# Python
venv/
__pycache__/
*.pyc
.env
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/

# Node
node_modules/
.next/
out/
build/
npm-debug.log
yarn-error.log

# OS
.DS_Store
Thumbs.db
.venv
backend/data